.container {
  display: flex;

  .btn {
    margin-top: 0.5em;
  }

  .left {
    flex: 1;

    .account {
    }
    .contract {
      .input {
        margin-right: 1em;
      }
    }
  }

  .right {
    flex: 1;

    .btn {
      margin-right: 0.5em;
    }
  }
}
